<style>
  /* My props */
  .session-block {
    display: flex;
    align-items: stretch;
  }

  .session-block-wrapper {
    flex-grow: 1;
  }

  .time {
    color: blue;
    margin-right: 10px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .time > .time-divider {
    width: 3px;
    flex-grow: 1;
    background-color: blue;
  }

  .contrib-timeline,
  .sub-contrib-timeline {
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style-type: none;
  }

  .contrib-timeline > li {
    margin: 0;
    padding: 10px;
  }

  .contrib-timeline > li:not(:last-child) {
    border-bottom: 2px solid black;
  }

  .session-block-content-box {
    border: 2px solid black;
  }
</style>

{% macro render_program(event, days, show_contribs, show_length_contribs, show_breaks,
new_page_per_session, show_session_description, print_date_close_to_sessions, show_title,
show_affiliation) %}
<section class="day">
  <section class="session-block">
    <div class="time">
      <div class="time-from">
        10:00
      </div>
      <div class="time-divider">
        {# Line between generated in CSS #}
      </div>
      <div class="time-to">
        13:00
      </div>
    </div>
    <div class="session-block-wrapper">
      <div class="session-block-content">
        <div class="session-block-content-box description">
          <ul class="contrib-timeline">
            {% for i in range(5) %}
            <li style="height: 200px;">
              Hello world {{ i }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
{% endmacro %}

{{ render_program( event, days, show_contribs, show_length_contribs, show_breaks,
new_page_per_session, show_session_description, print_date_close_to_sessions, show_title,
show_affiliation ) }}
