<style>
    .inherited-bg-color {
        background-color: navy;
    }
    .inherited-txt-color {
        color: aliceblue;
    }
    .inherited-border-color {
        border-color: navy;
    }
</style>

{% macro render_program(event, days, show_contribs, show_length_contribs, show_breaks, new_page_per_session, show_session_description, print_date_close_to_sessions, show_title, show_affiliation) %}
    {% for day in range(1) %}
        <div class="pagebreak program-{{loop.index}}" id="day-{{ loop.index }}">
            <div class="day-title">
                <h2 style="text-align: center;">Some day</h2>
            </div>
            {% for entry in range(1) %}
                <section class="day" style="overflow: auto;">
                    <section class="session-block" style="overflow: auto;">
                        <div class="time" style="overflow: auto;">
                            <div class="time-from">
                                10:00
                            </div>
                            <div class="time-divider">
                                {# Line between generated in CSS #}
                            </div>
                            <div class="time-to">
                                13:00
                            </div>
                        </div>
                        <div class="session-block-wrapper" style="overflow: auto;">
                            <section class="session-block-title inherited-bg-color inherited-txt-color">
                                <h3>Hello World</h3>
                                <div class="session-block-title-info">
                                    <p><b>Session</b></p>
                                    <p>
                                        <b>Conveners:</b>
                                        John Doe, Alice Wonderland, Bob Bobson
                                    </p>
                                </div>
                            </section>
                            <div class="session-block-content">
                                <div class="session-block-content-box description inherited-border-color">
                                    <ul class="contrib-timeline">
                                        {% for i in range(5) %}
                                            <li class="inherited-border-color" style="height: 200px;">
                                                Hello world {{ i }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{{ render_program(
    event,
    days,
    show_contribs,
    show_length_contribs,
    show_breaks,
    new_page_per_session,
    show_session_description,
    print_date_close_to_sessions,
    show_title,
    show_affiliation
) }}
